.tarea-form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/* Campo de texto*/
.tarea-input{
    width: 350px;
    font-size: 18px;
    background-color: white;
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #0d5378;
    outline: none;
}

/*Boton para agragar tarea*/

.tarea-button{
    padding: 16px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    background-color: #0d5378;
    color: #fff;
    text-transform: capitalize;
}




/* button-alerta */
.button-alerta{
    width: 89px;
    height: 2px;
    background-color: #0d5378;
    color: #fff;
    cursor: pointer;
    border: none;
}